/* Reinicio General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fondo */
#fondo img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Estilos del Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(34, 34, 34, 0.85));
    border-bottom: 3px solid #ffcc00;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Sección de Casa y Logo */
#volverPrincipio {
    display: flex;
    align-items: center;
}

#casa {
    width: 80px; /* Tamaño incrementado */
    margin-right: 50px; /* Más separación entre el icono de casa y el logo */
    cursor: pointer;
}

#casa img:hover {
    transform: scale(1.1); /* Efecto de hover */
    transition: transform 0.2s ease-in-out;
}


#logo {
    height: 100px; /* Tamaño incrementado */
}

/* Sección de Título y Saldo */
#tituloYsaldo {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Añadido espacio entre el título y el saldo */
}

#juego {
    font-size: 3em; 
    font-weight: bold;
    color: #ffcc00; 
    text-shadow: 0px 0px 10px #ffcc00; /* Sombra para resaltar el título */
}

/* Estilo del saldo */
#saldo {
    display: flex; 
    align-items: center; 
    color: #ffcc00;
    padding: 10px 10px;
    margin: 10px;
    width: fit-content;
}

#saldo-texto {
    font-size: 1.2em;
    margin-right: 2px; 
}

#mas {
    width: 16px; 
    height: 16px; 
    cursor: pointer; 
    transition: transform 0.3s; 
}

#mas:hover {
    transform: scale(1.1); 
}


/* Sección del Reloj */
#reloj {
    font-size: 1.5em;
    padding: 15px;
    background-color: #ffcc00; 
    border-radius: 50px;
    text-align: center;
    min-width: 150px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Icono de Ajustes */
#ajustes img {
    width: 70px; 
    cursor: pointer;
}

#ajustes img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}


